.main-screen{
    height: auto;
    background-color: #13141D;
    color: wheat;
    margin: 0; /* Reset any default margin */
    padding: 0;
}

.main-content{
    
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.people-list{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 90%;
    height: 150px;
    background-color: #282935;
    border-radius: 15px;
}
.info-container{
    background-color: #282935;
    width: 70%;
    flex-grow: 1;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
 .purple-back{
    background-color: #43032a;
 }
 .people-card{
    margin:auto;
    width: 15%;
    height: 90%;
    border-radius: 10px;
    box-shadow:5px 2px #272525;

 }
 .info-card{
    width: 70%;
    height: 90%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
 }
 .info-card>p{
    margin-left: 2%;
 }
.buttons{
    display: flex;
    flex-direction: row;
    background-color: #282935;
    border-radius: 7px;
    padding: 2%;
}
.buttons > img{
    width: 10%;
    height: 10%;
    margin-left: 5%;
}
.buttons>img:hover{
    background-color: #43032a;
}