.rotative-card {
    width: 150px;
    height: 260px;
    margin: 10px;
    background-color: purple;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: transform .6s linear;
  }
  
  .rotate {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 8px;
    box-sizing: border-box;
  }
  .card-back >p {
  width: 80px;
  text-overflow: ellipsis;
  }
  .card-front-picture{
    display: flex;
    justify-content: center;
  }
  .card-front > .card-front-picture >img{
    height: 35%px;
    width: 50%;
    white-space: wrap;
  }

  .card-back {
    transform: rotateY(-180deg);
  }
  .card-front-content >p{
    margin: 0;
    font-size: 14px;
  }
  .card-front > .card-front-buttons{
 
    margin-top: 10%;
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-around;

  }
  .card-front> .card-front-buttons > button> img{
    height: 100%;
    width: 100%;
  }
  .card-front> .card-front-buttons > button{
    background-color: rgb(60, 4, 60);
    height: 70%;
    width: 80%;
    margin-right: 5%;
    transform: none !important;
  }